<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
        <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
        <link rel="stylesheet" type="text/css" href="http://bootswatch.com/flatly/bootstrap.min.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/pickadate/lib/themes/default.css" />
    <link rel="stylesheet" href="bower_components/pickadate/lib/themes/default.date.css" />
    <link rel="stylesheet" href="bower_components/pickadate/lib/themes/default.time.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="tutoGrafikartPostCommentApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-show="loading">Chargement ...... </div>

    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AngularJS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link 1</a></li>
        <!-- test direrctive time-->
        <li></li>
      </ul>
    </div><!-- /.navbar-collapse -->

    </div>

    <div class="container" ng-view></div>
    <!--
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="panel panel-info container spacer">
            <div class="panel-heading">
                Système de filtre
                <input ng-model="query" type="text" />
            </div>
            <div class="panel-body">
                <div ng-init="users=['Marc','Jean', 'John']">
                    <ul>
                        <li ng-repeat="user in users | filter:query">
                            {{user | uppercase}}
                        </li>
                    </ul>
                    Filtre sur 'M' : {{users | filter:'M'}}
                    <br /> Filtre sur 'hn' : {{users | filter:'hn'}}
                    <br /> Filtre sur 'j' : {{users | filter:'j'}}
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/pickadate/lib/picker.js"></script>
    <script src="bower_components/pickadate/lib/picker.date.js"></script>
    <script src="bower_components/pickadate/lib/picker.time.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script type="text/javascript" src="scripts/controllers/posts.js"></script>
        <script type="text/javascript" src="scripts/controllers/comments.js"></script>
        <script type="text/javascript" src="scripts/services/posts.js"></script>
        <script type="text/javascript" src="scripts/directives/directivesUtils.js"></script>

        <!-- endbuild -->
</body>
</html>
